<div class="footer">
  Contact us
  <div class="footer-links">
    <a href="https://github.com/sergioski9" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/TurismTAG/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/sergio.rcruz.18" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/Srgndrscruz" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/sergio-cruz-405762235" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
     Copyright 2022-2025 DeveloperHero | All Rights Reserved
  </div>
</div>
