<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652732171/development/home-guides-2_xunmki.jpg);">
  <div class="container">
    <h2>Welcome to "TAG" <strong>Tourism</strong> and <strong>Guides</strong>!</h1>
    <p>meet the best local guides of the places you want to visit</p>
    <%= link_to "Go See Guides", guides_path, target: "_blank", class: "btn btn-outline-light" %>
  </div>
</div>
<div class="container">
  <div class="text-center my-5">
    <h2 id="font-arial-guide" class="text-shadow"><strong>Information about the Guides</strong></h2>
    <p id="border-white-guide">sssssssss</p>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="container-fluid">
        <div class="card-home-guide">
          <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652733903/development/home-guide-card-2_co7qfk.jpg" alt="ilustracion">
        </div>
        <div class="container text-center my-5">
          <h4 class="text-shadow"><b>Guides in "TAG"!</b></h4>
          <p class="my-3 text-shadow">Cada guia tiene que llenar un formulario con informacion confidencial para seguridad de todos nuestros clientes, dicha informacion no la mostraremos a los clientes a menos que compren su servicio de guia. Una vez comprado el servicio de guia, usted como cliente tendra la posibilidad de acceder a dicha informacion para garantizar su seguridad.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="container-fluid">
        <div class="card-home-guide">
          <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652734478/development/home-guide-card_kndjtt.jpg" alt="ilustracion-guias">
        </div>
        <div class="container text-center my-5">
          <h4 class="text-shadow"><b>"TAG" Recommendations!</b></h4>
          <p class="my-3 text-shadow">Nuestras recomendaciones que hacemos a nuestros clientes, es llevar todo lo necesario para un viaje placentero y comodo. Unas de nuestras recomendaciones principales que hacemos en Tourism and Guides, es no cambiar la ruta del guia, una vez se ha establecido la reserva, para asi evitar algun incidente. Caso contrario "TAG" no se hara responsable.</p>
        </div>
      </div>
    </div>
    <div class="text-center my-5">
      <h2 id="font-arial-guide-2" class="text-shadow"><strong>Relevant Information</strong></h2>
      <p id="border-white-guide-2">sssssssss</p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="container-fluid">
        <div class="card-home-guide">
          <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652735238/development/home-guide-card-o-banner_twq1d9.jpg" alt="ilustracion-guias">
        </div>
        <div class="container text-center my-5">
          <h4 class="text-shadow"><b>Plan the Guide</b></h4>
          <p class="my-3 text-shadow">Tourism and Guides, pide a sus clientes planificar de manera ordenada sus visitas alos lugares, junto con los guias. Asi evitamos una mala experiencia de turismo, y tambien optimizamos el tiempo de las guias. Tambien asi el guia y el cliente pueden interactuar y llegar a un acuerdo de los lugares a los cuales les gustaria visitar.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="container-fluid">
        <div class="card-home-guide">
          <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652736027/development/Guia-Turistica-2-paseos_ajx82z.jpg" alt="ilustracion-guides-in-bolivia">
        </div>
        <div class="container text-center my-5">
          <h4 class="text-shadow"><b>Payment Method Information</b></h4>
          <p class="my-3 text-shadow">Los metodos de pagos que se utilizan en Tourism and Guides son: mediante tarjeta de credito o debito, paypal, transferencia electronica de fondos, etc. Encontraras mas informacion sobre los metodos de pagos en la seccion de cada guia, ya que los precios varian segun la capacidad de cada guia y sus referencias. </p>
        </div>
      </div>
    </div>
  </div>
</div>
