<%# cambiar las direcciones de la imagenes de la home page ya que son estaticas y no dinamicas esto puede perjudicar a que no se muestra las imagenes una vez subida a nuestro host  %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652292241/development/home_ir0nnv.jpg);">
  <div class="container">
    <h1>Welcome to "TAG" <strong>Tourism</strong> and <strong>Guides</strong>!</h1>
    <p>Get to know the best places with local guides</p>
    <%= link_to "Go See Places", places_path, target: "_blank", class: "btn btn-outline-light" %>
  </div>
</div>
<div class="container">
  <div class="text-center my-5">
    <h2 id="font-arial" class="text-shadow"><b>TOP PLACES</b></h2>
    <p id="border-white">sssssssss</p>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="container-fluid">
        <div class="card-home">
          <a href="https://tag-places-sergioski9.herokuapp.com/places/1" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652133313/development/1yk1r6793w8pypxh9f3eaabadzua.jpg" alt="paisaje-samaipata-santa-cruz-bolivia"></a>
        </div>
        <div class="container text-center my-5">
          <h4 class="text-shadow"><b>Samaipata</b></h4>
          <p class="my-3 text-shadow">es un lugar muy bueno para pasar el rato te lo aseguro que lo pasaras bien con gente humilde de la comunidad</p>
          <div class="my-5">
            <a href="https://tag-places-sergioski9.herokuapp.com/places/1" target="_blank" class="btn-home" role="button">See More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="container-fluid">
        <div class="card-home">
          <a href="https://tag-places-sergioski9.herokuapp.com/places/2" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652233569/development/x22tcz81o1yov8ns1p3lhokhd5x4.jpg" alt="paisaje-chochis-santa-cruz-bolivia"></a>
        </div>
        <div class="container text-center my-5">
          <h4 class="text-shadow"><b>Chochís</b></h4>
          <p class="my-3 text-shadow">es un estupendo lugar muy bonito con artos sitios a los cuales puedes ir a visitar y pasarla bien en familia o solo</p>
          <div class="my-5">
            <a href="https://tag-places-sergioski9.herokuapp.com/places/2" target="_blank" class="btn-home" role="button">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652728418/development/home-guide_grlhur.jpg);">
  <div class="container">
    <h2>Learn more about the guide service <strong>Tourism</strong> and <strong>Guides</strong>!</h1>
    <p>Find out about the guide services offered by our page</p>
    <%= link_to "Go Home Guides", homeguides_path, class: "btn btn-outline-light" %>
  </div>
</div>
<div class="container row my-5">
  <div class="container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="card-home my-4 col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/3" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652296970/development/espejillos-santa-cruz_vtqfvm.jpg" alt="espejillos-santa-cruz-bolivia" class="my-4"></a>
        <h3 class="text-center"><b>Espejillos</b></h3>
      </div>
      <div class="container-fluid col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="container-letters container-fluid my-5">
          <h3 class="text-shadow"><strong>Santa Cruz - Espejillos</strong></h3>
          <p class="text-shadow">Espejillos es la puerta de entrada al Parque Nacional Amboró, el lugar es un balneario formado por cascadas y saltos de agua rodeado de una vegetación selvática. Un lugar ideal para disfrutar del agua y las caminatas en medio de la naturaleza.</p>
          <p class="text-shadow">Espejillos se encuentra a 45 kilómetros de la ciudad de Santa Cruz de la Sierra. Para llegar se debe conducir por la vieja ruta a Cochabamba hasta el poblado de San José en el Municipio de Porongo, desde allí continuar por un camino bien señalizado hasta la Reserva Natural Municipal de Espejillos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-fluid text-center">
    <h3 style="font-family: arial" class="text-shadow"><b>Other Amazing Places the Bolivia</b></h3>
    <div class="row justify-content-center">
      <div class="card-home mx-3 my-5 col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/6" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652301803/development/m6ydloabir66kqtz74q8mqe4j9b1.jpg" alt="salar-de-uyuni-bolivia"></a>
        <h4 class="my-3 text-shadow"><b>Salar de Uyuni</b></h4>
      </div>
      <div class="card-home mx-3 my-5 col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/7" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652302024/development/yfxsvwmbf0n4uxrkqtj2h4b55ewk.jpg" alt="cristo-de-la-concordia-bolivia"></a>
        <h4 class="my-3 text-shadow"><b>Cristo de la Concordia</b></h4>
      </div>
      <div class="card-home mx-3 my-5 col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/8" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652302188/development/atv0b3c06762bzezv5t7ibsk6vew.jpg" alt="virgen-del-socavon-bolivia"></a>
        <h4 class="my-3 text-shadow"><b>Virgen del Socavon</b></h4>
      </div>
      <div class="card-home mx-3 my-5 col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/9" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652302684/development/dfrm683wfo1ropksnqggc5c9f0h7.jpg" alt="laguna-colorada-bolivia"></a>
        <h4 class="my-3 text-shadow"><b>Laguna Colorada</b></h4>
      </div>
    </div>
  </div>
</div>
