<%# cambiar las direcciones de la imagenes de la home page ya que son estaticas y no dinamicas esto puede perjudicar a que no se muestra las imagenes una vez subida a nuestro host  %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652292241/development/home_ir0nnv.jpg);">
  <div class="container">
    <h1>Welcome to "TAG" <strong>Turism</strong> and <strong>Guides</strong>!</h1>
    <p>Get to know the best places with local guides</p>
    <%= link_to "Go See Places", places_path, class: "btn btn-outline-light" %>
  </div>
</div>
<div class="container">
  <div class="text-center my-5">
    <h2 id="font-arial"><b>TOP PLACES</b></h2>
    <p id="border-white">sssssssss</p>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-mg-4">
      <div class="container-fluid">
        <div class="card-home">
          <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652133313/development/1yk1r6793w8pypxh9f3eaabadzua.jpg" alt="paisaje-samaipata-santa-cruz-bolivia">
        </div>
        <div class="container text-center my-5">
          <h4><b>Samaipata</b></h4>
          <p class="my-3">es un lugar muy bueno para pasar el rato te lo aseguro que lo pasaras bien con gente humilde de la comunidad</p>
          <div class="my-5">
            <a href="https://tag-places-sergioski9.herokuapp.com/places/1" target="_blank" class="btn-home" role="button">See More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-mg-4">
      <div class="container-fluid">
        <div class="card-home">
          <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652233569/development/x22tcz81o1yov8ns1p3lhokhd5x4.jpg" alt="paisaje-chochis-santa-cruz-bolivia">
        </div>
        <div class="container text-center my-5">
          <h4><b>Chochís</b></h4>
          <p class="my-3">es un estupendo lugar muy bonito con artos sitios a los cuales puedes ir a visitar y pasarla bien en familia o solo</p>
          <div class="my-5">
            <a href="https://tag-places-sergioski9.herokuapp.com/places/2" target="_blank" class="btn-home" role="button">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-secondary mt-5" style="background-color: black">
  <div class="container d-flex justify-content-center">
    <div class="container-carousel-home mx-3 my-3">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label=""></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label=""></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label=""></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3500">
            <a href="https://tag-places-sergioski9.herokuapp.com/places/10" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/w_500,h_442,c_scale/development/santa_-cruz-1_igri9i.jpg" class="d-block w-100 rounded-3" alt="santa-cruz-catedral"></a>
            <div class="carousel-caption d-none d-md-block">
              <h5><strong>Santa Cruz de la Sierra</strong></h5>
              <p>Catedral, Plaza 24 de Septiembre.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3500">
            <a href="https://tag-places-sergioski9.herokuapp.com/places/5" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652292304/development/santa-cruz-2_ztodrf.jpg" class="d-block w-100 rounded-3" alt="santa-cruz-ciudad-de-los-anillos"></a>
            <div class="carousel-caption d-none d-md-block">
              <h5><strong>Ciudad de los Anillos</strong></h5>
              <p>Santa Cruz de la sierra desde arriba.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3500">
            <a href="https://tag-places-sergioski9.herokuapp.com/places/4" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/w_500,h_442,c_scale/development/santa-cruz-3_vlzrem.jpg" class="d-block w-100 rounded-3" alt="santa-cruz-de-la-sierra-parque-noel-kampf"></a>
            <div class="carousel-caption d-none d-md-block">
              <h5><strong>Santa Cruz de la Sierra</strong></h5>
              <p>Parque Nacional Noel Kempff Mercado.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="card-home-letters text-end my-5">
      <div class="my-5">
        <h2 id="font-arial-white"><strong>EXPLORE THE BOLIVIA</strong></h2>
        <p>Santa Cruz de la Sierra fue fundada el 26 de febrero de 1561 por el capitan Ñuflo de Chaves, en el cual descubrieron una selva tropical con climas que pueden variar de un momento a otro y con una tierra fertil donde la naturaleza abunda, el mayor atractivo turistico de santa cruz de la sierra es su diversidad y la hospitalidad de sus habitantes</p>
        <a href="https://tag-places-sergioski9.herokuapp.com/places/10" class="btn btn-outline-light"></a>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="container">
    <div class="d-flex">
      <div class="container-fluid">
        <div class="container-letters container-fluid my-5">
          <h3><strong>Santa Cruz - Espejillos</strong></h3>
          <p>Espejillos es la puerta de entrada al Parque Nacional Amboró, el lugar es un balneario formado por cascadas y saltos de agua rodeado de una vegetación selvática. Un lugar ideal para disfrutar del agua y las caminatas en medio de la naturaleza.</p>
          <p>Espejillos se encuentra a 45 kilómetros de la ciudad de Santa Cruz de la Sierra. Para llegar se debe conducir por la vieja ruta a Cochabamba hasta el poblado de San José en el Municipio de Porongo, desde allí continuar por un camino bien señalizado hasta la Reserva Natural Municipal de Espejillos.</p>
        </div>
      </div>
      <div class="card-home my-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/3" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652296970/development/espejillos-santa-cruz_vtqfvm.jpg" alt="espejillos-santa-cruz-bolivia"></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-fluid text-center">
    <h3 style="font-family: arial"><b>Other Amazing Places the Bolivia</b></h3>
    <div class="d-flex">
      <div class="card-home mx-3 my-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/6" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652301803/development/m6ydloabir66kqtz74q8mqe4j9b1.jpg" alt="salar-de-uyuni-bolivia"></a>
        <h4 class="my-3"><b>Salar de Uyuni</b></h4>
      </div>
      <div class="card-home mx-3 my-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/7" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652302024/development/yfxsvwmbf0n4uxrkqtj2h4b55ewk.jpg" alt="cristo-de-la-concordia-bolivia"></a>
        <h4 class="my-3"><b>Cristo de la Concordia</b></h4>
      </div>
      <div class="card-home mx-3 my-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/8" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652302188/development/atv0b3c06762bzezv5t7ibsk6vew.jpg" alt="virgen-del-socavon-bolivia"></a>
        <h4 class="my-3"><b>Virgen del Socavon</b></h4>
      </div>
      <div class="card-home mx-3 my-5">
        <a href="https://tag-places-sergioski9.herokuapp.com/places/9" target="_blank"><img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652302684/development/dfrm683wfo1ropksnqggc5c9f0h7.jpg" alt="laguna-colorada-bolivia"></a>
        <h4 class="my-3"><b>Laguna Colorada</b></h4>
      </div>
    </div>
  </div>
</div>
