<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.volafinance.com/wp-content/uploads/2020/06/image.jpg);">
  <div class="container">
    <h1>Welcome to "TAG" <strong>Turism</strong> and <strong>Guides</strong>!</h1>
    <p>Get to know the best places with local guides</p>
    <%= link_to "Go See Places", places_path, class: "btn btn-outline-light" %>
  </div>
</div>
<div class="container">
  <div class="text-center my-5">
    <h2 id="font-arial"><b>TOP PLACES</b></h2>
    <p id="border-white">sssssssss</p>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-mg-4">
      <div class="container-fluid">
        <div class="card-home">
          <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652133313/development/1yk1r6793w8pypxh9f3eaabadzua.jpg" alt="paisaje-samaipata-santa-cruz-bolivia">
        </div>
        <div class="container text-center my-5">
          <h4><b>Samaipata</b></h4>
          <p class="my-3">es un lugar muy bueno para pasar el rato te lo aseguro que lo pasaras bien con gente humilde de la comunidad</p>
          <a href="http://localhost:3000/places/1" class="btn-home" role="button">See More</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-mg-4">
      <div class="container-fluid">
        <div class="card-home">
          <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652233569/development/x22tcz81o1yov8ns1p3lhokhd5x4.jpg" alt="paisaje-chochis-santa-cruz-bolivia">
        </div>
        <div class="container text-center my-5">
          <h4><b>Chochís</b></h4>
          <p class="my-3">es un estupendo lugar muy bonito con artos sitios a los cuales puedes ir a visitar y pasarla bien en familia o solo</p>
          <a href="http://localhost:3000/places/2" class="btn-home" role="button">See More</a>
        </div>
      </div>
    </div>
  </div>
</div>
