#font-arial {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.anchor-white {
  text-decoration: none;
  color: white;

  &:hover {
    color: rgba(200, 200, 200, 0.6);
  }
}

#border-white {
  display: inline-block;
  border-bottom: 3px solid #FA2255;
  color: #F4F4F4;
}

#font-arial-white {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.star-yellow {
  color: #fcbf49;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.box-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
