<h2 class="text-center my-5"><b>All Places the TAG!</b></h2>

<div class="container">
  <small><em class="text-muted">Press Image for Go Place</em></small>
  <div class="row justify-content-center">
    <% @places.each do |place| %>
      <div class="my-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <%= link_to place_path(place), class: "anchor-white",action: "go" do %>
          <div class="card-category rounded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path place.photo.key, crop: :fill %>')">
            <h3 class="text-center"><b><%= place.place %></b></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
