<div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @place.photo.attached? ? cl_image_path(@place.photo.key) : asset_path('list_background.jpg') %>)">
  <h2><b> <%= @place.place %> </b></h2>
</div>

<div class="container">
  <%= link_to "Create Guide Profile", new_place_guide_path(@place) %>
</div>
